@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/oswald-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/oswald-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  background-color: #e5dfdf;
  font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

form {
  display: grid;
  padding: 0 30px;
  background-color: #ffffff;
  box-shadow: 3px 5px 5px 3px rgba(12, 12, 12, 0.5);
}

.general-info {
  padding-top: 20px;
}

header {
  text-align: center;
  font-size: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  margin-bottom: 10px;
  padding-left: 7px;
  border-radius: 10px;
  height: 1.5rem;
  border: 1px solid #0d0c0c;
  border-radius: 5px;
  background: rgb(235, 233, 233);
  background: linear-gradient(
    180deg,
    rgba(235, 233, 233, 1) 0%,
    rgba(220, 220, 220, 1) 33%,
    rgba(199, 198, 198, 1) 66%,
    rgba(179, 179, 179, 1) 100%
  );
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: #4485be solid 3px;
  border: none;
}

button[type="submit"],
button {
  width: 100px;
  height: 30px;
  justify-self: center;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(59, 88, 211);
  background: linear-gradient(
    180deg,
    rgba(59, 88, 211, 1) 0%,
    rgba(54, 85, 214, 1) 33%,
    rgba(42, 71, 195, 1) 66%,
    rgba(22, 56, 204, 1) 100%
  );
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
  color: #e8e1e1;
  margin-bottom: 20px;
}

button:hover,
button[type="submit"]:hover {
  transition: 0.2s ease-in-out;
  background: rgb(33, 61, 180);
  background: linear-gradient(
    180deg,
    rgba(33, 61, 180, 1) 0%,
    rgba(26, 52, 162, 1) 33%,
    rgba(16, 43, 162, 1) 66%,
    rgba(14, 38, 143, 1) 100%
  );
  color: #fff;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

hr {
  opacity: 0.6;
}

.user-name,
.user-prof-info,
.from-until,
.user-educ-info,
.from-to {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
}

.user-personal-info {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
}

.user-name > div > input {
  width: 100%;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

[type="date"] {
  background-color: rgb(235, 233, 233);
  background-color: linear-gradient(
    180deg,
    rgba(235, 233, 233, 1) 0%,
    rgba(220, 220, 220, 1) 33%,
    rgba(199, 198, 198, 1) 66%,
    rgba(179, 179, 179, 1) 100%
  );
  background-image: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png);
  background-position: 98%;
  background-repeat: no-repeat;
}

.form-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.info-preview {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 3px 5px 5px 3px rgba(12, 12, 12, 0.5);
}

.info-preview > * {
  margin: 0;
  padding: 0;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.top-section > * {
  margin: 0;
  padding: 0;
}

.top-section > div > p {
  font-size: 11px;
}

.full-name {
  align-self: center;
}

.phone,
.email,
.work,
.education-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 3px;
}

.phone {
  grid-column: -2 / -1;
  align-self: start;
}

.phone,
.email {
  justify-content: end;
}

.middle-section,
.bottom-section {
  display: grid;
  justify-content: start;
  justify-items: start;
  grid-template-columns: repeat(1fr);
  grid-template-rows: auto;
  gap: 15px;
}

.middle-section > *,
.bottom-section > * {
  margin: 0;
  padding: 0;
}

.middle-section > div > h2,
.bottom-section > div > h2 {
  margin: 0;
  padding: 20px 0;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  color: #1b5268;
}

.middle-section > p,
.bottom-section > p,
.bottom-section > div > p {
  font-size: 12px;
}

.inst-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.inst-info > * {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.bottom-section > div > p:last-of-type {
  font-size: 10px;
}

.hide {
  display: none;
}

@media print {
  .print-button {
    display: none;
  }
}
