@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/oswald-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/oswald-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  background-color: #e5dfdf;
  font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

form {
  display: grid;
  padding: 0 30px;
  background-color: #ffffff;
  box-shadow: -5px 0px 5px rgba(12, 12, 12, 0.5), 5px 0px 5px rgba(0, 0, 0, 0.5);
}

.general-info {
  padding-top: 20px;
}

header {
  text-align: center;
  font-size: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  margin-bottom: 10px;
  padding-left: 7px;
  border-radius: 10px;
  height: 1.5rem;
}

input:focus {
  outline: #4485be solid 3px;
  border: none;
}

button[type="submit"],
button {
  width: 100px;
  height: 30px;
  justify-self: center;
  cursor: pointer;
  border-radius: 12px;
  background-color: #332890;
  color: #e8dcdc;
  margin-bottom: 20px;
}

button:hover,
button[type="submit"]:hover {
  transition: 0.2s ease-in-out;
  background-color: #0e0e79;
  color: #fff;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

hr {
  opacity: 0.6;
}

.info-preview {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: -5px 0px 5px rgba(12, 12, 12, 0.5), 5px 0px 5px rgba(0, 0, 0, 0.5);
}

.info-preview > * {
  margin: 0;
  padding: 0;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.top-section > * {
  margin: 0;
  padding: 0;
}

.top-section > div > p {
  font-size: 11px;
}

.full-name {
  align-self: center;
}

.phone,
.email,
.work,
.education-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 3px;
}

.phone {
  grid-column: -2 / -1;
  align-self: start;
}

.phone,
.email {
  justify-content: end;
}

.middle-section,
.bottom-section {
  display: grid;
  justify-content: start;
  justify-items: start;
  grid-template-columns: repeat(1fr);
  grid-template-rows: auto;
  gap: 15px;
}

.middle-section > *,
.bottom-section > * {
  margin: 0;
  padding: 0;
}

.middle-section > div > h2,
.bottom-section > div > h2 {
  margin: 0;
  padding: 20px 0;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  color: #1b5268;
}

.middle-section > p,
.bottom-section > p,
.bottom-section > div > p  {
  font-size: 12px;
}

.inst-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.inst-info > * {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.bottom-section > div > p:last-of-type {
  font-size: 10px;
}

.hide {
  display: none;
}

@media print {
  .print-button {
    display: none;
  }
}
